.text-color{
    color: red;
}
.text-align{
   text-align: center
   
}

.list-center{

list-style-position:inside;
}
.ortala{
   
    display: table;
    position: relative;
    overflow: hidden;
    text-align:center;
    margin:0 auto;
  }